 @model Applogin.Models.Ingreso;
@{
    Layout = null;
}
<html>
     <head>
         <title>Ingresar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
     </head>
     <body>

         <div class="row mt-5 justify-content-center">
             <div class="col-sm-4"
                <div class="card-header">
                  Ingresa
                </div>
                <div class="card-body">

                    <form asp-controller="Acceso" asp-action="Ingreso" method="post">
                        <input class="form-control mb-3" type="text" placeholder="Correo" required asp-for="Correo"/>
                        <input class="form-control mb-3" type="text" placeholder="Clave" required asp-for="Clave"/>
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-primary" type="submit">Ingresa</button>
                        </div>


                    </form>


                </div>
             </div>
         </div>





    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
     </body>
 </html>